@model Proyecto3V3_Camilo_P_Diego_M.Models.CitaMedica

@{
    ViewData["Title"] = "Borrar";
}

<h1>Borrar</h1>

<h3>¿Estás seguro que deseas borrar esto?</h3>
<div>
    <h4>Cita Medica</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartamentoMedico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartamentoMedico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Día)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Día)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Año)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Año)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IddoctorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IddoctorNavigation.Iddoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdpacienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdpacienteNavigation.Idpac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdrecepcionistaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdrecepcionistaNavigation.Idrecep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdsalNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdsalNavigation.Idsala)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdcitaMed" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
