@model Proyecto3V3_Camilo_P_Diego_M.Models.Farmacium

@{
    ViewData["Title"] = "Borrar";
}

<h1>Borrar</h1>

<h3>¿Estás seguro que deseas borrar esto?</h3>
<div>
    <h4>Farmacia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioDeAtencion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorarioDeAtencion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapacidadDeStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapacidadDeStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListaDeMedicamentos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListaDeMedicamentos)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idfar" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
