@model Proyecto3V3_Camilo_P_Diego_M.Models.Medicamento

@{
    ViewData["Title"] = "Borrar";
}

<h1>Borrar</h1>

<h3>¿Estás seguro que deseas borrar esto?</h3>
<div>
    <h4>Medicamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CódigoEnBodega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CódigoEnBodega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDeCaducidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDeCaducidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstruccionesDeUso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstruccionesDeUso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Integredientes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Integredientes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FórmulaFarmaceutica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FórmulaFarmaceutica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IddoctorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IddoctorNavigation.Iddoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdfarmaciaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdfarmaciaNavigation.Idfar)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idmed" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
