@model Proyecto3V3_Camilo_P_Diego_M.Models.Medicamento

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Medicamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CódigoEnBodega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CódigoEnBodega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDeCaducidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDeCaducidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstruccionesDeUso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstruccionesDeUso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Integredientes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Integredientes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FórmulaFarmaceutica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FórmulaFarmaceutica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IddoctorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IddoctorNavigation.Iddoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdfarmaciaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdfarmaciaNavigation.Idfar)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idmed">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
