@model Proyecto3V3_Camilo_P_Diego_M.Models.Sala

@{
    ViewData["Title"] = "Borrar";
}

<h1>Borrar</h1>

<h3>¿Estás seguro que deseas borrar esto?</h3>
<div>
    <h4>Sala</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Código)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Código)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapacidadDePacientes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapacidadDePacientes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDePaciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDePaciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraDeEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraDeEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraDeSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraDeSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnóstico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diagnóstico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tratamiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tratamiento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idsala" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
